In [158]:
import pandas as pd
import numpy as np

data = pd.read_csv('ml-latest-small/ratings.csv')
data['userId'] = data['userId'].astype('str')
data['movieId'] = data['movieId'].astype('str')

users = data['userId'].unique() #list of all users
movies = data['movieId'].unique() #list of all movies

print("Number of users", len(users))
print("Number of movies", len(movies))

data.head()

Number of users 610
Number of movies 9724

  userId movieId  rating  timestamp
0      1       1     4.0  964982703
1      1       3     4.0  964981247
2      1       6     4.0  964982224
3      1      47     5.0  964983815
4      1      50     5.0  964982931

#### https://heartbeat.fritz.ai/recommender-systems-with-python-part-iii-collaborative-filtering-singular-value-decomposition-5b5dcb3f242b

In [1]:
import pandas as pd
import numpy as np
import os

data_path = 'ml-latest-small'
movies_filename = 'movies.csv'
ratings_filename = 'ratings.csv'
df_movies = pd.read_csv(
    os.path.join(data_path, movies_filename),
#     movies_filename,
    usecols=['movieId', 'title'],
    dtype={'movieId': 'int32', 'title': 'str'})
df_ratings = pd.read_csv(
    os.path.join(data_path, ratings_filename),
#     ratings_filename,
    usecols=['userId', 'movieId', 'rating'],
    
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [2]:
df_movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [5]:
df_movies.size

19484

In [3]:
df_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [6]:
df_ratings.size

302508

In [7]:
# Pivot Ratings into Movie Features

df_ratings=df_ratings[:2000000]
df_movie_features = df_ratings.pivot(
    index='userId',
    columns='movieId',
    values='rating'
).fillna(0)

In [13]:
df_movie_features.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
R = df_movie_features.values

In [34]:
R.shape

(610, 9724)

In [28]:
R

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]], dtype=float32)

In [29]:
user_ratings_mean = np.mean(R, axis = 1)

In [35]:
user_ratings_mean.shape

(610,)

In [30]:
user_ratings_mean

array([0.10417524, 0.01177499, 0.00976964, 0.07897984, 0.01645413,
       0.11281366, 0.05049362, 0.01727684, 0.01542575, 0.0472028 ,
       0.02488688, 0.01444879, 0.01162073, 0.01676265, 0.04787125,
       0.037536  , 0.04545455, 0.19266763, 0.18850267, 0.08936652,
       0.14854997, 0.03146853, 0.04540313, 0.04128959, 0.01285479,
       0.00699301, 0.04925957, 0.1770362 , 0.03450226, 0.01655697,
       0.02015631, 0.03938708, 0.06077746, 0.03023447, 0.0096668 ,
       0.01624846, 0.00894694, 0.02581242, 0.04113533, 0.03990128,
       0.07260387, 0.16135335, 0.0533731 , 0.01655697, 0.15903948,
       0.01727684, 0.04396339, 0.0136775 , 0.00920403, 0.08864665,
       0.13939737, 0.05985191, 0.01028383, 0.01028383, 0.00730152,
       0.01799671, 0.16608392, 0.04494035, 0.04792267, 0.00843274,
       0.01624846, 0.15364048, 0.10119292, 0.2003805 , 0.01408885,
       0.14263678, 0.01470588, 0.4190148 , 0.02067051, 0.02756068,
       0.01295763, 0.01923077, 0.08016249, 0.07774578, 0.02293295,
       0.03774167, 0.01192925, 0.0198478 , 0.02766351, 0.07316948,
       0.00740436, 0.07892843, 0.04015837, 0.11116824, 0.01295763,
       0.02828054, 0.00853558, 0.02324146, 0.18500617, 0.02262443,
       0.20079185, 0.00971822, 0.04278075, 0.01748252, 0.07018717,
       0.03116002, 0.01552859, 0.0370218 , 0.02108186, 0.06005759,
       0.02231592, 0.01933361, 0.15148087, 0.09846771, 0.30563554,
       0.01506582, 0.0136775 , 0.03116002, 0.04206088, 0.01953928,
       0.22187372, 0.02401275, 0.05625257, 0.01095228, 0.04339778,
       0.03074866, 0.05666392, 0.00863842, 0.09234883, 0.00771288,
       0.01964212, 0.1365179 , 0.02324146, 0.02051625, 0.14289387,
       0.01285479, 0.00704443, 0.01480872, 0.05645825, 0.010181  ,
       0.02442411, 0.10844303, 0.01079803, 0.01285479, 0.10417524,
       0.03784451, 0.05769231, 0.00796997, 0.04278075, 0.21878856,
       0.06113739, 0.01491156, 0.02426985, 0.04776841, 0.00791855,
       0.01033525, 0.00694159, 0.01845948, 0.01624846, 0.00956397,
       0.02149321, 0.02606952, 0.04082682, 0.01532291, 0.01707116,
       0.15112093, 0.0075072 , 0.00915261, 0.03265117, 0.12170918,
       0.01537433, 0.01655697, 0.00709585, 0.01573427, 0.02365282,
       0.07959688, 0.06118881, 0.04314068, 0.11754422, 0.017174  ,
       0.03907857, 0.01023242, 0.00894694, 0.02519539, 0.00874126,
       0.0150144 , 0.31381118, 0.03239408, 0.02684081, 0.00879268,
       0.0356849 , 0.35278693, 0.02241876, 0.05105923, 0.01707116,
       0.09481695, 0.10016454, 0.02169889, 0.00843274, 0.02653229,
       0.03270259, 0.00915261, 0.0136775 , 0.00714726, 0.06787331,
       0.01295763, 0.01388318, 0.08257919, 0.12674825, 0.13086179,
       0.04638009, 0.1582682 , 0.01779103, 0.03378239, 0.01074661,
       0.01038667, 0.0059132 , 0.0088441 , 0.01527149, 0.05789798,
       0.03573632, 0.09157754, 0.03306253, 0.00647882, 0.03938708,
       0.06180584, 0.1741053 , 0.00899835, 0.17189428, 0.08437885,
       0.14047717, 0.08139654, 0.02524681, 0.02365282, 0.0281777 ,
       0.18125257, 0.04062114, 0.00961538, 0.02498972, 0.04087824,
       0.00951255, 0.28815302, 0.05090498, 0.07280954, 0.02437269,
       0.01223776, 0.01727684, 0.01665981, 0.11553887, 0.05152201,
       0.0311086 , 0.01295763, 0.01532291, 0.03609626, 0.00586179,
       0.08921226, 0.05779514, 0.01964212, 0.39762443, 0.01172357,
       0.01151789, 0.01640272, 0.02103044, 0.05198478, 0.01162073,
       0.07059852, 0.00658165, 0.01079803, 0.00930687, 0.05877211,
       0.02103044, 0.01820238, 0.08026532, 0.02051625, 0.05614973,
       0.06478816, 0.02447552, 0.04339778, 0.01079803, 0.01316331,
       0.01408885, 0.01156931, 0.02262443, 0.4479124 , 0.16937475,
       0.0185109 , 0.01028383, 0.00796997, 0.06602221, 0.07861991,
       0.00694159, 0.09831345, 0.01192925, 0.03362814, 0.01465446,
       0.04128959, 0.04098108, 0.34132046, 0.00894694, 0.1137392 ,
       0.01357466, 0.15142946, 0.00565611, 0.11733855, 0.01578568,
       0.01156931, 0.01923077, 0.2282497 , 0.00863842, 0.01414027,
       0.03892431, 0.01316331, 0.02128754, 0.08597285, 0.27324146,
       0.03820444, 0.26727685, 0.0286919 , 0.04067256, 0.02324146,
       0.00673591, 0.0850473 , 0.12001234, 0.04010695, 0.01141506,
       0.0163513 , 0.07250103, 0.33952078, 0.01593994, 0.0072501 ,
       0.02056767, 0.037536  , 0.03198272, 0.00678733, 0.09841629,
       0.06278281, 0.02025915, 0.08458453, 0.00678733, 0.09373715,
       0.06267997, 0.09882765, 0.00678733, 0.05414439, 0.01059235,
       0.02488688, 0.03331962, 0.01177499, 0.1552859 , 0.01213492,
       0.02031057, 0.01995064, 0.02462978, 0.02673797, 0.02488688,
       0.06211436, 0.01645413, 0.02642945, 0.01419169, 0.01336898,
       0.05316742, 0.11430481, 0.03229124, 0.08679556, 0.01038667,
       0.11949815, 0.1558515 , 0.01372892, 0.0260181 , 0.00863842,
       0.03172563, 0.04756273, 0.010181  , 0.00904977, 0.07836282,
       0.0125977 , 0.07342657, 0.1370835 , 0.04499177, 0.03393665,
       0.01917935, 0.08144797, 0.03280543, 0.0123406 , 0.01326615,
       0.05558412, 0.05270465, 0.01974496, 0.01254628, 0.4600987 ,
       0.17266557, 0.10499794, 0.01326615, 0.02221308, 0.07034142,
       0.01923077, 0.3441485 , 0.01079803, 0.01439737, 0.03198272,
       0.14747018, 0.00822707, 0.04859111, 0.00699301, 0.01912793,
       0.00904977, 0.00935829, 0.02010489, 0.01460304, 0.01995064,
       0.02612094, 0.01902509, 0.01316331, 0.02097902, 0.04946524,
       0.00668449, 0.00930687, 0.05933772, 0.04977376, 0.0697244 ,
       0.04257507, 0.04082682, 0.02540107, 0.94112504, 0.03948992,
       0.0160942 , 0.03074866, 0.03481078, 0.0606232 , 0.05542986,
       0.01563143, 0.03177705, 0.00879268, 0.05213904, 0.11116824,
       0.03331962, 0.02678939, 0.08144797, 0.02375566, 0.02231592,
       0.00560469, 0.09749074, 0.00853558, 0.09060057, 0.01866516,
       0.03465652, 0.04771699, 0.21909708, 0.00889552, 0.01321473,
       0.0209276 , 0.00262238, 0.01568285, 0.01645413, 0.03054299,
       0.02776635, 0.03105718, 0.54581445, 0.01285479, 0.02097902,
       0.01326615, 0.09466269, 0.1260798 , 0.0174311 , 0.02025915,
       0.01686549, 0.01779103, 0.02519539, 0.01162073, 0.03542781,
       0.00817565, 0.15939942, 0.01285479, 0.05327026, 0.04915673,
       0.04566022, 0.00771288, 0.01151789, 0.17564788, 0.02889757,
       0.01115796, 0.01228918, 0.01300905, 0.7368367 , 0.07029001,
       0.02612094, 0.23056355, 0.00637598, 0.06180584, 0.28157136,
       0.00894694, 0.04483752, 0.2709276 , 0.10787742, 0.00915261,
       0.02313863, 0.01809955, 0.04432333, 0.20110036, 0.03671329,
       0.027355  , 0.04812834, 0.02313863, 0.00956397, 0.10926574,
       0.010181  , 0.01871658, 0.01460304, 0.01064377, 0.0286919 ,
       0.01480872, 0.0123406 , 0.03265117, 0.03419375, 0.01331756,
       0.01408885, 0.00730152, 0.00529617, 0.15446319, 0.03223982,
       0.02205882, 0.01943645, 0.01280337, 0.135181  , 0.01295763,
       0.00987248, 0.09815919, 0.00874126, 0.01156931, 0.07424928,
       0.01480872, 0.07877417, 0.0361991 , 0.04658577, 0.1821267 ,
       0.02498972, 0.07075278, 0.02606952, 0.00822707, 0.01048951,
       0.00853558, 0.0220074 , 0.01712258, 0.20346566, 0.00822707,
       0.01398601, 0.01964212, 0.01701974, 0.01486014, 0.01727684,
       0.03033731, 0.0407754 , 0.03481078, 0.00987248, 0.00796997,
       0.02262443, 0.00894694, 0.01095228, 0.00791855, 0.01182641,
       0.04699712, 0.06031469, 0.0370218 , 0.03661045, 0.20536816,
       0.0134204 , 0.01069519, 0.02262443, 0.04730564, 0.16803785,
       0.17513369, 0.09723365, 0.07229535, 0.05779514, 0.01090086,
       0.02694364, 0.08890374, 0.00976964, 0.00822707, 0.06710202,
       0.02961744, 0.0657137 , 0.12952489, 0.00935829, 0.01172357,
       0.00637598, 0.05902921, 0.0110037 , 0.02982312, 0.1582682 ,
       0.01799671, 0.02319005, 0.01897367, 0.03506787, 0.02720074,
       0.09337721, 0.06746195, 0.01871658, 0.01655697, 0.25123405,
       0.01820238, 0.03465652, 0.0346051 , 0.09363431, 0.00863842,
       0.14772727, 0.18120115, 0.00822707, 0.6732826 , 0.2347285 ,
       0.04596874, 0.04709996, 0.34018922, 0.03578774, 0.0729638 ,
       0.41937473, 0.07280954, 0.26784244, 0.01244344, 0.4938811 ],
      dtype=float32)

In [39]:
user_ratings_mean.reshape(-1, 1)

array([[0.10417524],
       [0.01177499],
       [0.00976964],
       [0.07897984],
       [0.01645413],
       [0.11281366],
       [0.05049362],
       [0.01727684],
       [0.01542575],
       [0.0472028 ],
       [0.02488688],
       [0.01444879],
       [0.01162073],
       [0.01676265],
       [0.04787125],
       [0.037536  ],
       [0.04545455],
       [0.19266763],
       [0.18850267],
       [0.08936652],
       [0.14854997],
       [0.03146853],
       [0.04540313],
       [0.04128959],
       [0.01285479],
       [0.00699301],
       [0.04925957],
       [0.1770362 ],
       [0.03450226],
       [0.01655697],
       [0.02015631],
       [0.03938708],
       [0.06077746],
       [0.03023447],
       [0.0096668 ],
       [0.01624846],
       [0.00894694],
       [0.02581242],
       [0.04113533],
       [0.03990128],
       [0.07260387],
       [0.16135335],
       [0.0533731 ],
       [0.01655697],
       [0.15903948],
       [0.01727684],
       [0.04396339],
       [0.0136775 ],
       [0.00920403],
       [0.08864665],
       [0.13939737],
       [0.05985191],
       [0.01028383],
       [0.01028383],
       [0.00730152],
       [0.01799671],
       [0.16608392],
       [0.04494035],
       [0.04792267],
       [0.00843274],
       [0.01624846],
       [0.15364048],
       [0.10119292],
       [0.2003805 ],
       [0.01408885],
       [0.14263678],
       [0.01470588],
       [0.4190148 ],
       [0.02067051],
       [0.02756068],
       [0.01295763],
       [0.01923077],
       [0.08016249],
       [0.07774578],
       [0.02293295],
       [0.03774167],
       [0.01192925],
       [0.0198478 ],
       [0.02766351],
       [0.07316948],
       [0.00740436],
       [0.07892843],
       [0.04015837],
       [0.11116824],
       [0.01295763],
       [0.02828054],
       [0.00853558],
       [0.02324146],
       [0.18500617],
       [0.02262443],
       [0.20079185],
       [0.00971822],
       [0.04278075],
       [0.01748252],
       [0.07018717],
       [0.03116002],
       [0.01552859],
       [0.0370218 ],
       [0.02108186],
       [0.06005759],
       [0.02231592],
       [0.01933361],
       [0.15148087],
       [0.09846771],
       [0.30563554],
       [0.01506582],
       [0.0136775 ],
       [0.03116002],
       [0.04206088],
       [0.01953928],
       [0.22187372],
       [0.02401275],
       [0.05625257],
       [0.01095228],
       [0.04339778],
       [0.03074866],
       [0.05666392],
       [0.00863842],
       [0.09234883],
       [0.00771288],
       [0.01964212],
       [0.1365179 ],
       [0.02324146],
       [0.02051625],
       [0.14289387],
       [0.01285479],
       [0.00704443],
       [0.01480872],
       [0.05645825],
       [0.010181  ],
       [0.02442411],
       [0.10844303],
       [0.01079803],
       [0.01285479],
       [0.10417524],
       [0.03784451],
       [0.05769231],
       [0.00796997],
       [0.04278075],
       [0.21878856],
       [0.06113739],
       [0.01491156],
       [0.02426985],
       [0.04776841],
       [0.00791855],
       [0.01033525],
       [0.00694159],
       [0.01845948],
       [0.01624846],
       [0.00956397],
       [0.02149321],
       [0.02606952],
       [0.04082682],
       [0.01532291],
       [0.01707116],
       [0.15112093],
       [0.0075072 ],
       [0.00915261],
       [0.03265117],
       [0.12170918],
       [0.01537433],
       [0.01655697],
       [0.00709585],
       [0.01573427],
       [0.02365282],
       [0.07959688],
       [0.06118881],
       [0.04314068],
       [0.11754422],
       [0.017174  ],
       [0.03907857],
       [0.01023242],
       [0.00894694],
       [0.02519539],
       [0.00874126],
       [0.0150144 ],
       [0.31381118],
       [0.03239408],
       [0.02684081],
       [0.00879268],
       [0.0356849 ],
       [0.35278693],
       [0.02241876],
       [0.05105923],
       [0.01707116],
       [0.09481695],
       [0.10016454],
       [0.02169889],
       [0.00843274],
       [0.02653229],
       [0.03270259],
       [0.00915261],
       [0.0136775 ],
       [0.00714726],
       [0.06787331],
       [0.01295763],
       [0.01388318],
       [0.08257919],
       [0.12674825],
       [0.13086179],
       [0.04638009],
       [0.1582682 ],
       [0.01779103],
       [0.03378239],
       [0.01074661],
       [0.01038667],
       [0.0059132 ],
       [0.0088441 ],
       [0.01527149],
       [0.05789798],
       [0.03573632],
       [0.09157754],
       [0.03306253],
       [0.00647882],
       [0.03938708],
       [0.06180584],
       [0.1741053 ],
       [0.00899835],
       [0.17189428],
       [0.08437885],
       [0.14047717],
       [0.08139654],
       [0.02524681],
       [0.02365282],
       [0.0281777 ],
       [0.18125257],
       [0.04062114],
       [0.00961538],
       [0.02498972],
       [0.04087824],
       [0.00951255],
       [0.28815302],
       [0.05090498],
       [0.07280954],
       [0.02437269],
       [0.01223776],
       [0.01727684],
       [0.01665981],
       [0.11553887],
       [0.05152201],
       [0.0311086 ],
       [0.01295763],
       [0.01532291],
       [0.03609626],
       [0.00586179],
       [0.08921226],
       [0.05779514],
       [0.01964212],
       [0.39762443],
       [0.01172357],
       [0.01151789],
       [0.01640272],
       [0.02103044],
       [0.05198478],
       [0.01162073],
       [0.07059852],
       [0.00658165],
       [0.01079803],
       [0.00930687],
       [0.05877211],
       [0.02103044],
       [0.01820238],
       [0.08026532],
       [0.02051625],
       [0.05614973],
       [0.06478816],
       [0.02447552],
       [0.04339778],
       [0.01079803],
       [0.01316331],
       [0.01408885],
       [0.01156931],
       [0.02262443],
       [0.4479124 ],
       [0.16937475],
       [0.0185109 ],
       [0.01028383],
       [0.00796997],
       [0.06602221],
       [0.07861991],
       [0.00694159],
       [0.09831345],
       [0.01192925],
       [0.03362814],
       [0.01465446],
       [0.04128959],
       [0.04098108],
       [0.34132046],
       [0.00894694],
       [0.1137392 ],
       [0.01357466],
       [0.15142946],
       [0.00565611],
       [0.11733855],
       [0.01578568],
       [0.01156931],
       [0.01923077],
       [0.2282497 ],
       [0.00863842],
       [0.01414027],
       [0.03892431],
       [0.01316331],
       [0.02128754],
       [0.08597285],
       [0.27324146],
       [0.03820444],
       [0.26727685],
       [0.0286919 ],
       [0.04067256],
       [0.02324146],
       [0.00673591],
       [0.0850473 ],
       [0.12001234],
       [0.04010695],
       [0.01141506],
       [0.0163513 ],
       [0.07250103],
       [0.33952078],
       [0.01593994],
       [0.0072501 ],
       [0.02056767],
       [0.037536  ],
       [0.03198272],
       [0.00678733],
       [0.09841629],
       [0.06278281],
       [0.02025915],
       [0.08458453],
       [0.00678733],
       [0.09373715],
       [0.06267997],
       [0.09882765],
       [0.00678733],
       [0.05414439],
       [0.01059235],
       [0.02488688],
       [0.03331962],
       [0.01177499],
       [0.1552859 ],
       [0.01213492],
       [0.02031057],
       [0.01995064],
       [0.02462978],
       [0.02673797],
       [0.02488688],
       [0.06211436],
       [0.01645413],
       [0.02642945],
       [0.01419169],
       [0.01336898],
       [0.05316742],
       [0.11430481],
       [0.03229124],
       [0.08679556],
       [0.01038667],
       [0.11949815],
       [0.1558515 ],
       [0.01372892],
       [0.0260181 ],
       [0.00863842],
       [0.03172563],
       [0.04756273],
       [0.010181  ],
       [0.00904977],
       [0.07836282],
       [0.0125977 ],
       [0.07342657],
       [0.1370835 ],
       [0.04499177],
       [0.03393665],
       [0.01917935],
       [0.08144797],
       [0.03280543],
       [0.0123406 ],
       [0.01326615],
       [0.05558412],
       [0.05270465],
       [0.01974496],
       [0.01254628],
       [0.4600987 ],
       [0.17266557],
       [0.10499794],
       [0.01326615],
       [0.02221308],
       [0.07034142],
       [0.01923077],
       [0.3441485 ],
       [0.01079803],
       [0.01439737],
       [0.03198272],
       [0.14747018],
       [0.00822707],
       [0.04859111],
       [0.00699301],
       [0.01912793],
       [0.00904977],
       [0.00935829],
       [0.02010489],
       [0.01460304],
       [0.01995064],
       [0.02612094],
       [0.01902509],
       [0.01316331],
       [0.02097902],
       [0.04946524],
       [0.00668449],
       [0.00930687],
       [0.05933772],
       [0.04977376],
       [0.0697244 ],
       [0.04257507],
       [0.04082682],
       [0.02540107],
       [0.94112504],
       [0.03948992],
       [0.0160942 ],
       [0.03074866],
       [0.03481078],
       [0.0606232 ],
       [0.05542986],
       [0.01563143],
       [0.03177705],
       [0.00879268],
       [0.05213904],
       [0.11116824],
       [0.03331962],
       [0.02678939],
       [0.08144797],
       [0.02375566],
       [0.02231592],
       [0.00560469],
       [0.09749074],
       [0.00853558],
       [0.09060057],
       [0.01866516],
       [0.03465652],
       [0.04771699],
       [0.21909708],
       [0.00889552],
       [0.01321473],
       [0.0209276 ],
       [0.00262238],
       [0.01568285],
       [0.01645413],
       [0.03054299],
       [0.02776635],
       [0.03105718],
       [0.54581445],
       [0.01285479],
       [0.02097902],
       [0.01326615],
       [0.09466269],
       [0.1260798 ],
       [0.0174311 ],
       [0.02025915],
       [0.01686549],
       [0.01779103],
       [0.02519539],
       [0.01162073],
       [0.03542781],
       [0.00817565],
       [0.15939942],
       [0.01285479],
       [0.05327026],
       [0.04915673],
       [0.04566022],
       [0.00771288],
       [0.01151789],
       [0.17564788],
       [0.02889757],
       [0.01115796],
       [0.01228918],
       [0.01300905],
       [0.7368367 ],
       [0.07029001],
       [0.02612094],
       [0.23056355],
       [0.00637598],
       [0.06180584],
       [0.28157136],
       [0.00894694],
       [0.04483752],
       [0.2709276 ],
       [0.10787742],
       [0.00915261],
       [0.02313863],
       [0.01809955],
       [0.04432333],
       [0.20110036],
       [0.03671329],
       [0.027355  ],
       [0.04812834],
       [0.02313863],
       [0.00956397],
       [0.10926574],
       [0.010181  ],
       [0.01871658],
       [0.01460304],
       [0.01064377],
       [0.0286919 ],
       [0.01480872],
       [0.0123406 ],
       [0.03265117],
       [0.03419375],
       [0.01331756],
       [0.01408885],
       [0.00730152],
       [0.00529617],
       [0.15446319],
       [0.03223982],
       [0.02205882],
       [0.01943645],
       [0.01280337],
       [0.135181  ],
       [0.01295763],
       [0.00987248],
       [0.09815919],
       [0.00874126],
       [0.01156931],
       [0.07424928],
       [0.01480872],
       [0.07877417],
       [0.0361991 ],
       [0.04658577],
       [0.1821267 ],
       [0.02498972],
       [0.07075278],
       [0.02606952],
       [0.00822707],
       [0.01048951],
       [0.00853558],
       [0.0220074 ],
       [0.01712258],
       [0.20346566],
       [0.00822707],
       [0.01398601],
       [0.01964212],
       [0.01701974],
       [0.01486014],
       [0.01727684],
       [0.03033731],
       [0.0407754 ],
       [0.03481078],
       [0.00987248],
       [0.00796997],
       [0.02262443],
       [0.00894694],
       [0.01095228],
       [0.00791855],
       [0.01182641],
       [0.04699712],
       [0.06031469],
       [0.0370218 ],
       [0.03661045],
       [0.20536816],
       [0.0134204 ],
       [0.01069519],
       [0.02262443],
       [0.04730564],
       [0.16803785],
       [0.17513369],
       [0.09723365],
       [0.07229535],
       [0.05779514],
       [0.01090086],
       [0.02694364],
       [0.08890374],
       [0.00976964],
       [0.00822707],
       [0.06710202],
       [0.02961744],
       [0.0657137 ],
       [0.12952489],
       [0.00935829],
       [0.01172357],
       [0.00637598],
       [0.05902921],
       [0.0110037 ],
       [0.02982312],
       [0.1582682 ],
       [0.01799671],
       [0.02319005],
       [0.01897367],
       [0.03506787],
       [0.02720074],
       [0.09337721],
       [0.06746195],
       [0.01871658],
       [0.01655697],
       [0.25123405],
       [0.01820238],
       [0.03465652],
       [0.0346051 ],
       [0.09363431],
       [0.00863842],
       [0.14772727],
       [0.18120115],
       [0.00822707],
       [0.6732826 ],
       [0.2347285 ],
       [0.04596874],
       [0.04709996],
       [0.34018922],
       [0.03578774],
       [0.0729638 ],
       [0.41937473],
       [0.07280954],
       [0.26784244],
       [0.01244344],
       [0.4938811 ]], dtype=float32)

In [31]:
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [32]:
R_demeaned

array([[ 3.8958247 , -0.10417524,  3.8958247 , ..., -0.10417524,
        -0.10417524, -0.10417524],
       [-0.01177499, -0.01177499, -0.01177499, ..., -0.01177499,
        -0.01177499, -0.01177499],
       [-0.00976964, -0.00976964, -0.00976964, ..., -0.00976964,
        -0.00976964, -0.00976964],
       ...,
       [ 2.2321575 ,  1.7321576 ,  1.7321576 , ..., -0.26784244,
        -0.26784244, -0.26784244],
       [ 2.9875565 , -0.01244344, -0.01244344, ..., -0.01244344,
        -0.01244344, -0.01244344],
       [ 4.506119  , -0.4938811 , -0.4938811 , ..., -0.4938811 ,
        -0.4938811 , -0.4938811 ]], dtype=float32)

In [36]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [38]:
sigma.size

50

In [37]:
sigma

array([ 67.8663  ,  68.19671 ,  69.02678 ,  69.417046,  69.91864 ,
        70.02093 ,  70.1941  ,  71.67445 ,  72.43372 ,  73.21883 ,
        73.437614,  74.02645 ,  74.28977 ,  74.92086 ,  75.17529 ,
        75.59326 ,  76.7023  ,  77.35721 ,  78.39407 ,  79.04347 ,
        79.21218 ,  80.56748 ,  81.546745,  82.19738 ,  83.04449 ,
        85.11692 ,  85.74874 ,  86.51714 ,  87.915474,  90.33577 ,
        90.93405 ,  92.26269 ,  93.39979 ,  97.10069 ,  99.28906 ,
        99.82361 , 101.84787 , 105.97361 , 107.04782 , 109.20838 ,
       112.80841 , 120.61546 , 122.64724 , 134.58719 , 139.63737 ,
       153.93103 , 163.7309  , 184.86186 , 231.22456 , 474.20605 ],
      dtype=float32)

In [11]:
# that the Sigma$ returned is just the values instead of a diagonal matrix. 
# This is useful, but since I'm going to leverage matrix multiplication to get predictions 
# I'll convert it to the diagonal matrix form.
sigma = np.diag(sigma)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [12]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = df_movie_features.columns)
preds_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,2.167359,0.402757,0.840174,-0.076284,-0.551335,2.504077,-0.890116,-0.026441,0.196975,1.593262,...,-0.023453,-0.019968,-0.026939,-0.026939,-0.023453,-0.026939,-0.023453,-0.023453,-0.023453,-0.058732
1,0.211461,0.006658,0.033455,0.017419,0.183430,-0.062470,0.083036,0.024158,0.049331,-0.152531,...,0.019498,0.016777,0.022219,0.022219,0.019498,0.022219,0.019498,0.019498,0.019498,0.032281
2,0.003589,0.030517,0.046393,0.008176,-0.006246,0.107330,-0.012416,0.003779,0.007297,-0.059364,...,0.005909,0.006209,0.005610,0.005610,0.005909,0.005610,0.005909,0.005909,0.005909,0.008004
3,2.051538,-0.387103,-0.252200,0.087563,0.130465,0.270202,0.477836,0.040313,0.025857,-0.017364,...,0.004836,0.004172,0.005499,0.005499,0.004836,0.005499,0.004836,0.004836,0.004836,-0.023311
4,1.344738,0.778512,0.065747,0.111744,0.273143,0.584421,0.254930,0.128789,-0.085542,1.023455,...,-0.008042,-0.007419,-0.008664,-0.008664,-0.008042,-0.008664,-0.008042,-0.008042,-0.008042,-0.010127

In [75]:
def recommend_movies(preds_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1

    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.userId == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )

#     print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
#     print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['movieId'].isin(user_full['movieId'])]).merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left', left_on = 'movieId',
               right_on = 'movieId').rename(columns = {user_row_number: 'Predictions'}).sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1]
                    
    return user_full, recommendations

In [76]:
already_rated, predictions = recommend_movies(preds_df, 330, df_movies, df_ratings, 10)

In [17]:
already_rated.head(10)

     userId  movieId  rating                                       title
246     330    79702     5.0          Scott Pilgrim vs. the World (2010)
155     330     2324     5.0  Life Is Beautiful (La Vita è bella) (1997)
208     330     4886     5.0                       Monsters, Inc. (2001)
204     330     4226     5.0                              Memento (2000)
202     330     4022     5.0                            Cast Away (2000)
183     330     3052     5.0                                Dogma (1999)
55      330      551     5.0      Nightmare Before Christmas, The (1993)
57      330      555     5.0                         True Romance (1993)
65      330      593     5.0            Silence of the Lambs, The (1991)
168     330     2712     5.0                       Eyes Wide Shut (1999)

In [18]:
predictions

      movieId                                              title
2807     4027                  O Brother, Where Art Thou? (2000)
1424     2115        Indiana Jones and the Temple of Doom (1984)
4200     6539  Pirates of the Caribbean: The Curse of the Bla...
1147     1704                           Good Will Hunting (1997)
2171     3114                                 Toy Story 2 (1999)
817      1220                         Blues Brothers, The (1980)
3427     4995                           Beautiful Mind, A (2001)
707      1036                                    Die Hard (1988)
408       527                            Schindler's List (1993)
3416     4979                       Royal Tenenbaums, The (2001)

In [19]:
# LU decomposition
from numpy import array
from scipy.linalg import lu
# define a square matrix
A = array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(A)
# LU decomposition
P, L, U = lu(A) 
print(P)
print(L)
print(U)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]]
[[1.         0.         0.        ]
 [0.14285714 1.         0.        ]
 [0.57142857 0.5        1.        ]]
[[7.         8.         9.        ]
 [0.         0.85714286 1.71428571]
 [0.         0.         0.        ]]

In [21]:
# QR decomposition
from numpy import array
from numpy.linalg import qr
# define a 3x2 matrix
A = array([[1, 2], [3, 4], [5, 6]])
print(A)
# QR decomposition
Q, R = qr(A, 'complete')
print(Q)
print(R)
# reconstruct
B = Q.dot(R)
print(B)

[[1 2]
 [3 4]
 [5 6]]
[[-0.16903085  0.89708523  0.40824829]
 [-0.50709255  0.27602622 -0.81649658]
 [-0.84515425 -0.34503278  0.40824829]]
[[-5.91607978 -7.43735744]
 [ 0.          0.82807867]
 [ 0.          0.        ]]
[[1. 2.]
 [3. 4.]
 [5. 6.]]

In [22]:
# Cholesky decomposition
from numpy import array
from numpy.linalg import cholesky
# define a 3x3 matrix
A = array([[2, 1, 1], [1, 2, 1], [1, 1, 2]])
print(A)
# Cholesky decomposition
L = cholesky(A)
print(L)
# reconstruct
B = L.dot(L.T)
print(B)

[[2 1 1]
 [1 2 1]
 [1 1 2]]
[[1.41421356 0.         0.        ]
 [0.70710678 1.22474487 0.        ]
 [0.70710678 0.40824829 1.15470054]]
[[2. 1. 1.]
 [1. 2. 1.]
 [1. 1. 2.]]

In [2]:
import pandas as pd
d = {'USER_ID': ['USER 1', 'USER 2', 'USER 1', 'USER 3'],
     "Category": ['Green', 'Blue', 'Red', 'Green'],
     'Height': ['172cm', '169cm', '153cm', '172cm'],
     'Weight': ['69kg', '61kg', '41kg', '59kg']}
df = pd.DataFrame(data=d)

In [3]:
df

  USER_ID Category Height Weight
0  USER 1    Green  172cm   69kg
1  USER 2     Blue  169cm   61kg
2  USER 1      Red  153cm   41kg
3  USER 3    Green  172cm   59kg

In [5]:
A = df.pivot(index='USER_ID', columns='Category')

In [11]:
A

         Height               Weight
Category   Blue  Green    Red   Blue Green   Red
USER_ID
USER 1      NaN  172cm  153cm    NaN  69kg  41kg
USER 2    169cm    NaN    NaN   61kg   NaN   NaN
USER 3      NaN  172cm    NaN    NaN  59kg   NaN

In [13]:
A['Height',['Blue', 'Green']]

TypeError: '('Height', ['Blue', 'Green'])' is an invalid key